menu "My WIFI"

    menu "Wifi Connect"
        config CONNECT_WIFI
            bool CONNECT_WIFI
            default true

        config SSID
            string "SSID"
            default "my ssid"

        config PASSWORD
            string "PASSWORD"
            default "my password"
    endmenu

    menu "WifiAp Setup"
        config SET_WIFI_AP
            bool SET_WIFI_AP
            default true

        config AP_SSID
            string "AP_SSID"
            default my_ssid

        config AP_PASSWORD
            string "AP_PASSWORD"
            default my_password

        config ESP_WIFI_CHANNEL
            int "WiFi Channel"
            range 1 13
            default 1

        config AP_MAX_CONN
            int "AP_MAX_CONN"
            default 4
    endmenu
 
endmenu
